p {
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}

p:hover {
  background-color: lightgrey;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 4px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.fa {
  margin-right: 10px;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 200px;
  text-align: left; /*Change to right here if you want it close to the inputs*/
}
input {
  display: inline-block;
  float: left;
}

button {
  cursor: pointer;
}
